{
	"useTabs": false,
	"tabWidth": 2,
	"arrowParens": "avoid",
	"svelteIndentScriptAndStyle": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
