@use '../styles/vars';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: vars.$clr-background-dark;
}

h1,
.heading--primary {
  font-family: vars.$font-primary;
  font-size: clamp(1.5rem, 8vw + 1rem, 6rem);
  font-weight: 600;
  color: vars.$clr-text-primary;
  line-height: 1.125;
}

h2,
.heading--secondary {
  font-family: vars.$font-primary;
  font-weight: 600;
  font-size: clamp(1.25rem, 8vw + 0.3rem, 1.5rem);
  line-height: 2;
  color: vars.$clr-text-primary;
}

.heading--subtitle {
  font-family: vars.$font-secondary;
  font-size: clamp(1rem, 8vw + 0.3rem, 1.5rem);
  font-weight: 400;
  color: vars.$clr-text-primary;
  line-height: 1.5;
  margin: 1em 0;
}

h3,
h4,
h5,
h6,
.heading--small {
  font-family: vars.$font-primary;
  font-size: clamp(0.875rem, 8vw + 0.1rem, 1.3rem);
  font-weight: 500;
  color: vars.$clr-text-primary;
}

p,
.text--body {
  font-family: vars.$font-secondary;
  font-size: 1.125rem;
  font-weight: 400;
  color: vars.$clr-text-secondary;
  line-height: 1.6;
}

a,
.text--link {
  font-family: vars.$font-secondary;
  font-size: 1rem;
  font-weight: 600;
  color: vars.$clr-accent;
  text-decoration: none;
}

a:focus-visible,
.text--link:focus-visible {
  outline: 2px solid vars.$clr-accent;
}

.text--logo {
  font-family: vars.$font-primary;
  font-size: 1.5rem;
  font-weight: 700;
  color: vars.$clr-accent;
}

@media (max-width: vars.$size-tablet) {
  p,
  .text--body {
    font-family: vars.$font-secondary;
    font-size: 1rem;
  }
}
