@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'IBM Plex Sans', sans-serif;

$clr-background-dark: #1c1e26;
$clr-background-light: #232530;
$clr-accent: #e95678;

$clr-text-primary: #ffffff;
$clr-text-secondary: #d0d0d0;

$border-radius-sm: 12px;
$border-radius-lg: 24px;

$size-tablet: 65em;
$size-phone: 50em;

$filter-shadow: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.4));